.App {
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(218, 218, 218);
  
}

div {
  height: 100%;
}
h1 {
  margin-bottom: 55px;
  
}

.books {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
  
}

.book {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
    
}

h1{
  font-size: 30px;
}

img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  padding: 5px;
}

.delete{
  border: none;
  padding: 3px 6px ;
 
  cursor: pointer;
  background-color: rgb(238, 238, 238);
  margin-bottom: 20px;
  color: rgb(6, 6, 6);
  margin-left: 5;
  margin-right: 5px;
}

.btn, a{
  border: none;
  text-decoration: none;
  padding: 3px 6px ;
  cursor: pointer;
  margin-left: 5;
  margin-right: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  background-color: rgb(238, 238, 238);
  
}
h2{
  background-color: rgb(238, 238, 238);
  margin: 0;
  padding: 5px;
  
}


p {
  background-color: rgb(246, 255, 164);
  margin: 0;
  padding: 5px;
  margin: 5px;

}